<app-header-menu></app-header-menu>
<input type="text" #searchStr (keyup)=0 >
<table>
<thead> 
  <th> ID </th>
  <th> Title </th>
  <th> Status </th>
</thead>
<tbody>
<tr *ngFor = "let item of listOfTask | filter : searchStr.value">
  <td> {{item.tId}} </td>
  <td> {{item.tName}} </td>
  <td> <span [ngClass]="{'jobDone':item.tStatus=='done','jobPending':item.tStatus=='pending','jobForwarded':item.tStatus=='forworded'}" > {{item.tStatus}} </span></td>
  <td> <button (click)="onDelete(item)"> Delete </button></td>
  <td> <button (click)="onUpdate(item)">Update </button></td>
</tr>
</tbody>
<table>